@model CreateRoomInputModel;
@{
    ViewData["Title"] = "Create a room";
}
<div>
    <h3>@ViewData["Title"]</h3>
    <hr />
    <div>
        <form asp-controller="Room" asp-action="Create" method="post">
            <div class="mb-3">
                <label for="room-name-input" class="form-label">Room Name</label>
                <input type="text" class="form-control" id="room-name-input" asp-for="RoomName">
            </div>
            <button type="submit" class="btn btn-success">Create</button>
        </form>
    </div>
</div>