@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Welcome to Speaking Time</h1>
    <p class="small">A simple webapp to help manage taking turns speaking in a conversation.</p>
    <hr />
    <p>
        In conversations with multiple people it can be difficult to ensure everyone is getting a fair amount of time to speak.  It can also be frustrating to indicate to other that you want to speak without long conversations turning into interrupting fights every other minute.  As well, when speaking along side someone it can be hard to tell when the person speaking should switch it over to their partner without breaking the flow of what they are trying to say.
    </p>
    <hr />
    <p>We want to:</p>
    <ul>
        <li>
            Allow multiple people to connect to a room and have a moderator to manage who the current speaker is and receive requests from other users for speaking time.
        </li>
        <li>
            Allow a group of people to indicate to each other when they want to switch over the current speaker to someone else.
        </li>
    </ul>
</div>
<hr />
<div>
    <h2 class="display-4">Get Started</h2>
    <a class="btn btn-lg btn-primary" asp-controller="Room" asp-action="Join">Join a room</a>
    <a class="btn btn-lg btn-outline-primary" asp-controller="Room" asp-action="Create">Create a room</a>
    <a class="btn btn-lg btn-secondary" asp-controller="Room" asp-action="List">List of rooms</a>
</div>
