@model CreateUserInputModel;
<div class="mb-3">
    <label for="user-name-input" class="form-label">Your Name</label>
    <input type="text" class="form-control" id="user-name-input" asp-for="UserName">
</div>
<div class="mb-3">
    <label for="user-color-input" class="form-label">Your Color</label>
    <input type="color" class="form-control" id="user-color-input" asp-for="UserColor">
</div>