/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*-------------------------------------------------- */

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.hidden {
    display: none;
}

.black-outlined {
    color: white;
    text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black, -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black, 0.05em 0.05em black;
}
.white-outlined {
    color: black;
    text-shadow: 0.05em 0 white, 0 0.05em white, -0.05em 0 white, 0 -0.05em white, -0.05em -0.05em white, -0.05em 0.05em white, 0.05em -0.05em white, 0.05em 0.05em white;
}
.color-tag {
    box-shadow: 0px 0px 0px 1px black, 0px 0px 0px 2px white;
    font-weight: bold;
    text-align: center;
    margin: -2px 0px;
    padding: 0px 7px;
    display: inline-block;
    min-height: 1em;
    min-width: 1em;
    border-radius: 2px;
}

